.copy-message {
  background-color: $accent-color;
  color: $secondary-text-color;
  opacity: 0.75;
  text-transform: uppercase;
  padding: 7.5px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 15px;
  display: none;
}

.show-message {
  display: block;
}
