.password-container {
  width: 600px;
  max-width: 100%;
  padding: 10px;
}

.password {
  background-color: $strong-password;
  color: $secondary-text-color;
  border: 1px solid $border-color;
  padding: 17px;
  margin-right: 5px;
  overflow: hidden;
}
