html {
  font-size: 20px;
  letter-spacing: 3px;
}

body {
  font-family: $body-font;
  background-image: $bg-svg;
}

h1,
h2 {
  font-family: $header-font;
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 1.75rem;
  }
}
