body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 750px;
  max-width: 100%;
}

header {
  text-align: center;
  margin: 5px;
}

.strength-message-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.character-choice-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.letter-flex-container,
.numsym-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.uppercase,
.lowercase,
.numbers,
.symbols {
  display: flex;
  margin: 5px 10px;
}
